--
-- PostgreSQL database dump
--

\restrict YYodWkqaHl4Un9NzPaYgfwZtkBcdzXn4hz9XDwHf9kXpuAgHu8qV1REFVHk6pfB

-- Dumped from database version 17.11 (Debian 17.11-1.pgdg13+2)
-- Dumped by pg_dump version 17.11 (Debian 17.11-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: bookings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bookings (
    booking_id uuid NOT NULL,
    created_at timestamp(6) without time zone,
    created_by character varying(255),
    updated_at timestamp(6) without time zone,
    updated_by character varying(255),
    booking_date date NOT NULL,
    status character varying(255) NOT NULL,
    desk_id uuid NOT NULL,
    user_id uuid NOT NULL,
    CONSTRAINT bookings_status_check CHECK (((status)::text = ANY ((ARRAY['CONFIRMED'::character varying, 'BOOKED'::character varying, 'CANCELLED'::character varying, 'COMPLETED'::character varying])::text[])))
);


ALTER TABLE public.bookings OWNER TO postgres;

--
-- Name: desk; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.desk (
    desk_id uuid NOT NULL,
    created_at timestamp(6) without time zone,
    created_by character varying(255),
    updated_at timestamp(6) without time zone,
    updated_by character varying(255),
    desk_number integer NOT NULL,
    is_active boolean NOT NULL,
    section character varying(255) NOT NULL,
    status character varying(255) NOT NULL,
    CONSTRAINT desk_status_check CHECK (((status)::text = ANY ((ARRAY['AVAILABLE'::character varying, 'UNAVAILABLE'::character varying, 'BOOKED'::character varying])::text[])))
);


ALTER TABLE public.desk OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    user_id uuid NOT NULL,
    created_at timestamp(6) without time zone,
    created_by character varying(255),
    updated_at timestamp(6) without time zone,
    updated_by character varying(255),
    email character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    role character varying(255) NOT NULL,
    sls_id character varying(255) NOT NULL,
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['ADMIN'::character varying, 'EMPLOYEE'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Data for Name: bookings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.bookings (booking_id, created_at, created_by, updated_at, updated_by, booking_date, status, desk_id, user_id) FROM stdin;
664f61d4-8070-4acf-9084-402fe62ad574	2026-10-05 14:26:50.12364	admin1@example.com	2026-10-05 14:27:35.260331	admin1@example.com	2026-10-05	CANCELLED	5709b4ee-4442-45ea-9813-c4014388f33a	452c0b3c-66ca-467a-b466-e0f82b053a8c
ab0ac610-60a6-4b72-ab29-82ba7a198791	2026-10-05 14:35:24.340474	admin1@example.com	2026-10-05 14:35:24.340474	admin1@example.com	2026-10-05	BOOKED	5709b4ee-4442-45ea-9813-c4014388f33a	452c0b3c-66ca-467a-b466-e0f82b053a8c
\.


--
-- Data for Name: desk; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: bookings bookings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_pkey PRIMARY KEY (booking_id);


--
-- Name: desk desk_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.desk
    ADD CONSTRAINT desk_pkey PRIMARY KEY (desk_id);


--
-- Name: users uk3mdqbbvayv8grsmfyoqacamm4; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT uk3mdqbbvayv8grsmfyoqacamm4 UNIQUE (sls_id);


--
-- Name: users uk6dotkott2kjsp8vw4d0m25fb7; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT uk6dotkott2kjsp8vw4d0m25fb7 UNIQUE (email);


--
-- Name: desk ukqx46ybxwuelml6q1by1ovg77j; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.desk
    ADD CONSTRAINT ukqx46ybxwuelml6q1by1ovg77j UNIQUE (desk_number);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- Name: bookings fk4k2nxnn2n501dbt5t47xgxq8m; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT fk4k2nxnn2n501dbt5t47xgxq8m FOREIGN KEY (desk_id) REFERENCES public.desk(desk_id);


--
-- Name: bookings fkeyog2oic85xg7hsu2je2lx3s6; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT fkeyog2oic85xg7hsu2je2lx3s6 FOREIGN KEY (user_id) REFERENCES public.users(user_id);


--
-- PostgreSQL database dump complete
--

\unrestrict YYodWkqaHl4Un9NzPaYgfwZtkBcdzXn4hz9XDwHf9kXpuAgHu8qV1REFVHk6pfB

