--
-- PostgreSQL database dump
-- CMD(windows) : Get-Content .\seatmanagement-updated.sql | docker exec -i seat-management-db psql -U postgres -d seatmanagement

-- CMD(MAC) : docker exec -i seat-management-db psql -U postgres -d seatmanagement < seatmanagement-updated.sql

-- RUN DB :  docker exec -it seat-management-db psql -U postgres -d seatmanagement
-- \dt

\restrict 9KBJYqcVKeVcZ8MUKmMk48HfQBFLwhqB3Z63bas41TIqqCOdZOunFRrrF7HrbeD

-- Dumped from database version 17.11 (Debian 17.11-1.pgdg13+2)
-- Dumped by pg_dump version 17.11 (Debian 17.11-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: desk; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: bookings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.bookings (booking_id, created_at, created_by, updated_at, updated_by, booking_date, status, desk_id, user_id) FROM stdin;
664f61d4-8070-4acf-9084-402fe62ad574	2026-10-05 14:26:50.12364	admin1@example.com	2026-10-05 14:27:35.260331	admin1@example.com	2026-10-05	CANCELLED	5709b4ee-4442-45ea-9813-c4014388f33a	452c0b3c-66ca-467a-b466-e0f82b053a8c
\.


--
-- PostgreSQL database dump complete
--

\unrestrict 9KBJYqcVKeVcZ8MUKmMk48HfQBFLwhqB3Z63bas41TIqqCOdZOunFRrrF7HrbeD

